* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    /*background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #E4E4E4) );*/
    background-attachment: fixed;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
    background-color: #ffffff;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size: 12px;
}

.container {
    margin: 5px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav .navigation_icon {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav .navigation_icon #project {
    width: 27px;
    /* padding-left: 6px; */
    margin-bottom: -6px;
}

.sidenav .navigation_icon img{
    width: 20px;
    padding-left: 6px;
}

.sidenav .navigation_icon:hover {
    background-color: #FFCAB7;
    filter: invert(100%);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    /*right: 25px;*/
    font-size: 36px;
    /*margin-left: 50px;*/
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


.top_bar {
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #cbcbcb), color-stop(0.51, #979797) );
    background-attachment: fixed;
    display: inline-flex;
    width: 100%;
}

.menu_open {
    cursor: pointer;
    padding-top: 3px;
    padding-left: 3px;
}

.current_site {
    margin:auto;
}
.icons{
    margin: auto;
}
.menu_option {
    padding: 8px;
}

.menu_option img {
    width: 15px;
}

.project_wrapper{
    margin-top: 25px;
    margin-left: 50px;
}

.project_option {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
}

.project_item {
    text-align: center;
}

.project_item img {
    width: 65px;
    padding: 12px;
    border: 2.5px solid #000000ba;
    border-radius: 10px;
}

.docs_wrapper {
    margin-top: 25px;
    margin-left: 50px;
}

.docs_wrapper h2 {
    margin-bottom: 0;
}

.docs_wrapper hr {
    margin-bottom: 20px;
    width: 95%;
    background-color: #000;
}

.docs_item {
    padding-left: 20px; 
    display: flex;
    padding-bottom: 10px;
}

.docs_item img{
    width: 25px;
    padding: 12px;
    border: 2.5px solid #000000ba;
    border-radius: 10px;
}

.docs_item h3{
    padding-left: 15px;
}
.project_data_wrapper {
    margin-top: 25px;
    margin-left: 50px;
}

.project_data_wrapper h4{
    margin-bottom: 5px;
}

.project_data_wrapper input {
    width: 70%;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.add_material_list {
    padding: 2px;
    padding-left: 5px;
}

.add_material_list img{
    width: 20px;
}

.less_material_list {
    padding: 2px;
    padding-left: 5px;
}

.less_material_list img {
    width: 20px;
    transform: rotate(45deg);
}

.add_todo_list {
    padding: 2px;
    padding-left: 5px;
}

.add_todo_list img {
    width: 20px;
}

.less_todo_list {
    padding: 2px;
    padding-left: 5px;
}

.less_todo_list img {
    width: 20px;
    transform: rotate(45deg);
}

ul, ol {
    background: #e4e4e4;
    width: 70%;
    padding-left: 25px;
}

li {
    list-style-type: none;
    font-size: 1rem;
}

.button {
    height: 30px !important;
    margin-top: 50px;
    width: 50% !important;
    margin-left: 15vw;
}
.button-2 {
    height: 30px !important;
    margin-top: 50px;
    width: 35% !important;
    margin-left: 2vw;
}

.delete {
    border: 1px solid red !important;
    background-color: #fab8b8;
}

.done {
    text-decoration: line-through;
}
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
